@import "./_variables";

body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    font-family: $fontFamily;
    background-color: $veryLightGreen;
    text-transform: capitalize;
}

h1 {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar{
    width: 15rem;
    padding: 2rem 3rem;
    background-color: $white;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    
}