$color-primary: #217efd;
$color-primary-light: #4b94f9;
$color-primary-dark: #c2185b;

$color-white: #ffffff;
$color-white-dark: #dedede;

$color-black: #212121;
$color-black-light: #757575;

$color-secondary: #ff4081;
